*~
_*
*.o
*.d
*.asm
*.sym
*.img
.*.swp
.*.*.swp
.*.swp
*.patch
TAGS
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
mkfs_vsd
.gdbinit
bochsout.txt
bootelf
vsdmbr
*.o_
*.a
bootbin
kernel.bin
kernel.elf
.hg
*.dsyms

