*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.qcow
.*.swp
.*.*.swp
.*.swp
*.patch
*.core
TAGS
bootblock
entryother
initcode
initcode.out
initkern
initkern.out
kernel
kernelmemfs
mkfs
mkfs_vsd
mkproto
.gdbinit
bochsout.txt
bootelf
vsdmbr
*.o_
*.a
bootbin
kernel.bin
kernel.elf
.hg
*.dsyms

